<router-outlet>
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="container">
    <div class="card mt-5">
      <div class="card-title text-center">
        <h3 class="bg-info p-3 text-white">
          Employee Data
        </h3>
      </div>
      <div class="card-body">
        <form
          [formGroup]="employeeForm"
          (ngSubmit)="manageSubmit(employeeForm.value)"
          class="form-group"
        >
          <input
            class="form-control mt-2"
            type="text"
            placeholder="First Name"
            name="first_name"
            formControlName="first_name"
          />
          <span
            *ngIf="
              employeeForm.get('first_name').hasError('required') &&
              employeeForm.get('first_name').touched
            "
            class="text-danger"
          >
            First Name required
          </span>
          <input
            class="form-control mt-2"
            type="text"
            placeholder="Last Name"
            name="last_name"
            formControlName="last_name"
          />
          <span
            *ngIf="
              employeeForm.get('last_name').hasError('required') &&
              employeeForm.get('last_name').touched
            "
            class="text-danger"
          >
            Last Name required
          </span>
          <input
            class="form-control mt-2"
            type="email"
            placeholder="Email"
            name="email"
            formControlName="email"
          />
          <span
            *ngIf="employeeForm.get('email').hasError('email') && employeeForm.get('email').touched"
            class="text-danger"
          >
            Email required
          </span>
          <input
            class="form-control mt-2"
            type="text"
            placeholder="Avatar"
            name="avatar"
            formControlName="avatar"
          />
          <span
            *ngIf="
              employeeForm.get('avatar').hasError('required') && employeeForm.get('avatar').touched
            "
            class="text-danger"
          >
            URL required
          </span>
          <button
            [disabled]="employeeForm.invalid"
            type="submit"
            class="btn btn-primary btn-lg mt-2"
          >
            Save
          </button>
        </form>
      </div>
    </div>
    <div>
      <div class="text-right mt-4">
        <p class="text-success">Employees: {{ employeesQuantity }}</p>
      </div>
      <table class="table">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Avatar</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td class="text-center" style="width: 10%;">
              <p>
                {{ employee._id }}
              </p>
            </td>
            <td class="text-center" style="width: 20%;">
              <h5>{{ employee.first_name }}</h5>
            </td>
            <td class="text-center" style="width: 20%;">
              <h5>{{ employee.last_name }}</h5>
            </td>
            <td class="text-center" style="width: 20%;">
              <h5>{{ employee.email }}</h5>
            </td>
            <td class="text-center" style="width: 20%;">
              <img
                [src]="employee.avatar"
                alt="image"
                class="img-fluid img-thumbnail w-50 rounded-circle"
              />
            </td>
            <td class="text-center" style="width: 5%;">
              <button (click)="deleteEmployee(employee._id)" class="btn btn-danger">Delete</button>
            </td>
            <td class="text-center" style="width: 5%;">
              <button (click)="editEmployee(employee)" class="btn btn-warning">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</router-outlet>

<!--  -->
